In [1]:
import requests
import pickle
import json
import time
import pandas as pd
import numpy as np
import mysql.connector
from datetime import datetime
from sqlalchemy import create_engine

In [38]:
PWRNET_API_BASE_URL = 'http://pwrnet-158117.appspot.com/api/v1/'

soc = [0.05, 0.05]
r = requests.post(PWRNET_API_BASE_URL+'run_gc/', json={'q0':soc},timeout=60)
response_json = r.json()
print response_json
task_id = response_json['task_id']
i=0
time.sleep(10)

while(i<40):
    g = requests.get(PWRNET_API_BASE_URL+'gc_results/?task_id='+task_id)
    if g.status_code == 200:
      break
    i=i+1
    time.sleep(5)

response_json = g.json()

# try:
#     array_json = json.loads(response_json['result'])
#     numpy_array = pickle.loads(array_json)
#     print numpy_array

# except:
#     print 'A Key error was generated from trying to deserialize the numpy array'
#     numpy_array = pickle.loads(str(response_json['result']))

{u'task_id': u'f82345f2-4baf-4c9e-94f0-2beb81509f5f'}

In [39]:
# Reading the answer from server
array_json = json.loads(response_json['result'])

# Deserializing data
pricesCurrent = pickle.loads(array_json['pricesCurrent'])
#pricesCurrent = pickle.loads(pricesCurrent)
print pricesCurrent
realS = array_json['realS']
realS = pickle.loads(realS)
print realS
LCtime = array_json['LCtime']
#LCtime = pickle.loads(str(LCtime))
print LCtime
rampFlag = array_json['rampFlag']
#rampFlag = pickle.loads(rampFlag)
print rampFlag
ramp_next = array_json['ramp_next']
print ramp_next
RstartList = array_json['RstartList']
RstartList = pickle.loads(RstartList)
print RstartList
QiList = array_json['QiList']
QiList = pickle.loads(QiList)
print QiList
RsignList = array_json['RsignList']
RsignList = pickle.loads(RsignList)
print RsignList
uboundMin = pickle.loads(array_json['uboundMin'])
print uboundMin
uboundMax = pickle.loads(array_json['uboundMax'])
print uboundMax

[[250. 250. 250. 250. 250. 250. 250. 250. 250. 250. 250. 250. 250. 250.
  250. 250. 350. 350. 350. 350. 350. 250. 250. 250.]]
[[-0.01664715 -0.01814875 -0.01784213 -0.02887704 -0.03929237 -0.04215677
   0.02236506  0.01614657  0.02020316  0.0100284   0.00636604  0.00081803
  -0.00344939 -0.01202257 -0.02320993 -0.03469222  0.02322785  0.01821649
   0.0220081   0.02049623  0.0222043  -0.02141865 -0.0084501   0.0135262 ]
 [ 0.00480253  0.00182852 -0.00440944 -0.01024297 -0.01374874 -0.01460698
  -0.00264687 -0.00023996  0.00442051  0.00018579 -0.00021571 -0.0031021
  -0.00358134 -0.00616708 -0.01327728 -0.01721581  0.00650596  0.0039291
   0.00699862  0.00770448  0.00911359 -0.00723408 -0.00396015  0.00828467]]
6
1
6
[6]
[[0.12599987]
 [0.02527589]]
[[-1.]
 [-1.]]
[[-0.04100927 -0.04103673 -0.04106578 -0.04107017 -0.04108867 -0.0410604
  -0.04102243 -0.04102234 -0.04111554 -0.04106823 -0.04108597 -0.0410735
  -0.04109116 -0.04109903 -0.04107146 -0.04106779 -0.04106217 -0.04103522
  -0.04108361 -0.04107448 -0.0410274  -0.04114413 -0.04104729 -0.04109195]
 [-0.02042491 -0.02044081 -0.02045785 -0.02046023 -0.02047085 -0.02045465
  -0.02043282 -0.02043259 -0.02048677 -0.02045914 -0.02046938 -0.02046259
  -0.02047222 -0.02047669 -0.02046067 -0.02045881 -0.02045615 -0.02044022
  -0.02046784 -0.02046267 -0.02043527 -0.02050305 -0.02044711 -0.02047284]]
[[-0.04098526 -0.0410134  -0.04104317 -0.04104767 -0.04106664 -0.04103766
  -0.04099875 -0.04099863 -0.04109417 -0.04104567 -0.04106386 -0.0410511
  -0.04106918 -0.04107726 -0.041049   -0.04104523 -0.04103948 -0.04101186
  -0.04106145 -0.04105209 -0.04100384 -0.04112353 -0.04102422 -0.04106999]
 [-0.02041284 -0.02042906 -0.02044646 -0.0204489  -0.02045974 -0.02044319
  -0.02042091 -0.02042066 -0.020476   -0.02044777 -0.02045824 -0.02045131
  -0.02046114 -0.02046571 -0.02044935 -0.02044744 -0.02044473 -0.02042847
  -0.02045667 -0.02045138 -0.02042341 -0.02049264 -0.0204355  -0.02046177]]

In [41]:
uboundMax

matrix([[-0.04098526, -0.0410134 , -0.04104317, -0.04104767, -0.04106664,
         -0.04103766, -0.04099875, -0.04099863, -0.04109417, -0.04104567,
         -0.04106386, -0.0410511 , -0.04106918, -0.04107726, -0.041049  ,
         -0.04104523, -0.04103948, -0.04101186, -0.04106145, -0.04105209,
         -0.04100384, -0.04112353, -0.04102422, -0.04106999],
        [-0.02041284, -0.02042906, -0.02044646, -0.0204489 , -0.02045974,
         -0.02044319, -0.02042091, -0.02042066, -0.020476  , -0.02044777,
         -0.02045824, -0.02045131, -0.02046114, -0.02046571, -0.02044935,
         -0.02044744, -0.02044473, -0.02042847, -0.02045667, -0.02045138,
         -0.02042341, -0.02049264, -0.0204355 , -0.02046177]])

In [5]:
U = realS
data4 = U[0]
data12 = U[1]
U

matrix([[-0.01664715, -0.01814875, -0.01784213, -0.02887704, -0.03929237,
         -0.04215677,  0.02236506,  0.01614657,  0.02020316,  0.0100284 ,
          0.00636604,  0.00081803, -0.00344939, -0.01202257, -0.02320993,
         -0.03469222,  0.02322785,  0.01821649,  0.0220081 ,  0.02049623,
          0.0222043 , -0.02141865, -0.0084501 ,  0.0135262 ],
        [ 0.00480253,  0.00182852, -0.00440944, -0.01024297, -0.01374874,
         -0.01460698, -0.00264687, -0.00023996,  0.00442051,  0.00018579,
         -0.00021571, -0.0031021 , -0.00358134, -0.00616708, -0.01327728,
         -0.01721581,  0.00650596,  0.0039291 ,  0.00699862,  0.00770448,
          0.00911359, -0.00723408, -0.00396015,  0.00828467]])

In [31]:
a=np.squeeze(np.asarray(data4))
b = np.squeeze(np.asarray(data12))
bus_name = np.ones(len(a))
hour = np.arange(24)

In [37]:
df4 = pd.DataFrame({'bus_name': bus_name*4, 'power': a, 'hour': hour})
df12 = pd.DataFrame({'bus_name': bus_name*12, 'power': b, 'hour': hour})
df = df4.append(df12, ignore_index=True)
df

    bus_name  hour     power
0        4.0     0 -0.016647
1        4.0     1 -0.018149
2        4.0     2 -0.017842
3        4.0     3 -0.028877
4        4.0     4 -0.039292
5        4.0     5 -0.042157
6        4.0     6  0.022365
7        4.0     7  0.016147
8        4.0     8  0.020203
9        4.0     9  0.010028
10       4.0    10  0.006366
11       4.0    11  0.000818
12       4.0    12 -0.003449
13       4.0    13 -0.012023
14       4.0    14 -0.023210
15       4.0    15 -0.034692
16       4.0    16  0.023228
17       4.0    17  0.018216
18       4.0    18  0.022008
19       4.0    19  0.020496
20       4.0    20  0.022204
21       4.0    21 -0.021419
22       4.0    22 -0.008450
23       4.0    23  0.013526
24      12.0     0  0.004803
25      12.0     1  0.001829
26      12.0     2 -0.004409
27      12.0     3 -0.010243
28      12.0     4 -0.013749
29      12.0     5 -0.014607
30      12.0     6 -0.002647
31      12.0     7 -0.000240
32      12.0     8  0.004421
33      12.0     9  0.000186
34      12.0    10 -0.000216
35      12.0    11 -0.003102
36      12.0    12 -0.003581
37      12.0    13 -0.006167
38      12.0    14 -0.013277
39      12.0    15 -0.017216
40      12.0    16  0.006506
41      12.0    17  0.003929
42      12.0    18  0.006999
43      12.0    19  0.007704
44      12.0    20  0.009114
45      12.0    21 -0.007234
46      12.0    22 -0.003960
47      12.0    23  0.008285

In [10]:
mydb = mysql.connector.connect(
            host='powernet-gridlabd-rt.cftqw2r7udps.us-east-1.rds.amazonaws.com',
            #service=mysql
            #port=3306
            user='gridlabd',
            port='3306',
            passwd='tfPKrZ5lOSXAVf3Y',
            database='gridlabd'
        )

# mycursor = mydb.cursor(buffered = True)
#df = pd.write_sql(query, con=mydb, params={'begin': begin, 'end': end})

engine = create_engine("mysql+mysqlconnector://gridlabd:tfPKrZ5lOSXAVf3Y@powernet-gridlabd-rt.cftqw2r7udps.us-east-1.rds.amazonaws.com/gridlabd")

df.to_sql('LC_outputs', con=engine, if_exists='replace', index=False)

In [42]:
battInv = {'node_4':[2,3,5,6,7,8,10,11,12,14,17,18,21,22,24,25,26,27], 'node_12':[1,4,9,13,15,16,19,20,23]}

In [46]:
df4['power'][0]

-0.01664714815370038

In [47]:
len(battInv['node_4'])

18

In [49]:
battery_GLD4 = []
for i in battInv['node_4']:
	battery_GLD4.append('Bat_inverter_'+str(i))
battery_GLD12 = []
for i in battInv['node_12']:
	battery_GLD12.append('Bat_inverter_'+str(i))

In [50]:
battery_GLD4

['Bat_inverter_2',
 'Bat_inverter_3',
 'Bat_inverter_5',
 'Bat_inverter_6',
 'Bat_inverter_7',
 'Bat_inverter_8',
 'Bat_inverter_10',
 'Bat_inverter_11',
 'Bat_inverter_12',
 'Bat_inverter_14',
 'Bat_inverter_17',
 'Bat_inverter_18',
 'Bat_inverter_21',
 'Bat_inverter_22',
 'Bat_inverter_24',
 'Bat_inverter_25',
 'Bat_inverter_26',
 'Bat_inverter_27']

In [7]:
mydb = mysql.connector.connect(
            host='powernet-gridlabd-rt.cftqw2r7udps.us-east-1.rds.amazonaws.com',
            #service=mysql
            #port=3306
            user='gridlabd',
            port='3306',
            passwd='tfPKrZ5lOSXAVf3Y',
            database='gridlabd'
        )
hour = 2
query = 'SELECT * FROM LC_outputs WHERE hour = %(hour)s'
df = pd.read_sql(query, con=mydb, params={'hour': hour})

In [8]:
print df
print df['power'][0]

   bus_name  hour     power
0       4.0     2  0.014252
1      12.0     2  0.005148
0.014252175258855247

In [2]:
import numpy as np
data = np.load('ramp_1day-2.npz')

In [ ]:
print data.keys()

rampUAll = data['rampUAll'][()]


print 'starting time of all ramps \n', rampUAll.keys()

print 'magnitude of ramp at start time 6 \n', rampUAll[6].mag

print 'times the ramp occurs \n', rampUAll[6].times

print 'error tolerance for ramp \n', rampUAll[6].tolerance


Uall = data['Uall']

print 'sum of all storage units during ramp \n', np.sum(Uall[:,rampUAll[6].times], axis=0)