In [89]:
import requests
import pickle
import json
import time
import pandas as pd
import numpy as np
import mysql.connector

ImportError: No module named mysql.connector

In [25]:
PWRNET_API_BASE_URL = 'http://pwrnet-158117.appspot.com/api/v1/'

soc = [0.05, 0.05]
r = requests.post(PWRNET_API_BASE_URL+'run_gc/', json={'q0':soc},timeout=60)
response_json = r.json()
print response_json
task_id = response_json['task_id']
i=0
time.sleep(10)

while(i<40):
    g = requests.get(PWRNET_API_BASE_URL+'gc_results/?task_id='+task_id)
    if g.status_code == 200:
      break
    i=i+1
    time.sleep(5)

response_json = g.json()

# try:
#     array_json = json.loads(response_json['result'])
#     numpy_array = pickle.loads(array_json)
#     print numpy_array

# except:
#     print 'A Key error was generated from trying to deserialize the numpy array'
#     numpy_array = pickle.loads(str(response_json['result']))

{u'task_id': u'4d5b1108-49b0-4331-a68d-3c54f5e754e6'}

In [26]:
# Reading the answer from server
array_json = json.loads(response_json['result'])

# Deserializing data
pricesCurrent = pickle.loads(array_json['pricesCurrent'])
#pricesCurrent = pickle.loads(pricesCurrent)
print pricesCurrent
realS = array_json['realS']
realS = pickle.loads(realS)
print realS
LCtime = array_json['LCtime']
#LCtime = pickle.loads(str(LCtime))
print LCtime
rampFlag = array_json['rampFlag']
#rampFlag = pickle.loads(rampFlag)
print rampFlag
ramp_next = array_json['ramp_next']
print ramp_next
RstartList = array_json['RstartList']
RstartList = pickle.loads(RstartList)
print RstartList
QiList = array_json['QiList']
QiList = pickle.loads(QiList)
print QiList
RsignList = array_json['RsignList']
RsignList = pickle.loads(RsignList)
print RsignList

[[ 250.  250.  250.  250.  250.  250.  250.  250.  250.  250.  250.  250.
   250.  250.  250.  250.  350.  350.  350.  350.  350.  250.  250.  250.]]
[[-0.01664715 -0.01814875 -0.01784213 -0.02887704 -0.03929237 -0.04215677
   0.02236506  0.01614657  0.02020316  0.0100284   0.00636604  0.00081803
  -0.00344939 -0.01202257 -0.02320993 -0.03469222  0.02322785  0.01821649
   0.0220081   0.02049623  0.0222043  -0.02141865 -0.0084501   0.0135262 ]
 [ 0.00480253  0.00182852 -0.00440944 -0.01024297 -0.01374874 -0.01460698
  -0.00264687 -0.00023996  0.00442051  0.00018579 -0.00021571 -0.0031021
  -0.00358134 -0.00616708 -0.01327728 -0.01721581  0.00650596  0.0039291
   0.00699862  0.00770448  0.00911359 -0.00723408 -0.00396015  0.00828467]]
6
1
6
[6]
[[ 0.12599987]
 [ 0.02527589]]
[[-1.]
 [-1.]]

In [52]:
U = realS
data4 = U[0]
data12 = U[1]
U

matrix([[-0.01664715, -0.01814875, -0.01784213, -0.02887704, -0.03929237,
         -0.04215677,  0.02236506,  0.01614657,  0.02020316,  0.0100284 ,
          0.00636604,  0.00081803, -0.00344939, -0.01202257, -0.02320993,
         -0.03469222,  0.02322785,  0.01821649,  0.0220081 ,  0.02049623,
          0.0222043 , -0.02141865, -0.0084501 ,  0.0135262 ],
        [ 0.00480253,  0.00182852, -0.00440944, -0.01024297, -0.01374874,
         -0.01460698, -0.00264687, -0.00023996,  0.00442051,  0.00018579,
         -0.00021571, -0.0031021 , -0.00358134, -0.00616708, -0.01327728,
         -0.01721581,  0.00650596,  0.0039291 ,  0.00699862,  0.00770448,
          0.00911359, -0.00723408, -0.00396015,  0.00828467]])

In [84]:
a=np.squeeze(np.asarray(data4))
bus_name = np.ones(len(a))
hour = np.arange(24)

In [85]:
df = pd.DataFrame({'bus_name': bus_name*4, 'power': a, 'hour': hour})
df

    bus_name  hour     power
0        4.0     0 -0.016647
1        4.0     1 -0.018149
2        4.0     2 -0.017842
3        4.0     3 -0.028877
4        4.0     4 -0.039292
5        4.0     5 -0.042157
6        4.0     6  0.022365
7        4.0     7  0.016147
8        4.0     8  0.020203
9        4.0     9  0.010028
10       4.0    10  0.006366
11       4.0    11  0.000818
12       4.0    12 -0.003449
13       4.0    13 -0.012023
14       4.0    14 -0.023210
15       4.0    15 -0.034692
16       4.0    16  0.023228
17       4.0    17  0.018216
18       4.0    18  0.022008
19       4.0    19  0.020496
20       4.0    20  0.022204
21       4.0    21 -0.021419
22       4.0    22 -0.008450
23       4.0    23  0.013526

In [88]:
mydb = mysql.connector.connect(
            host='powernet-gridlabd-rt.cftqw2r7udps.us-east-1.rds.amazonaws.com',
            #service=mysql
            #port=3306
            user='gridlabd',
            port='3306',
            passwd='tfPKrZ5lOSXAVf3Y',
            database='gridlabd'
        )

#df = pd.write_sql(query, con=mydb, params={'begin': begin, 'end': end})
df.to_sql('LC_outputs', con=mydb, if_exists='append')

NameError: name 'mysql' is not defined